@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Dancing Script';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf')
      format('truetype');
  }
  @font-face {
    font-family: 'Dancing Script';
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf')
      format('truetype');
  }
  @font-face {
    font-family: 'Dancing Script';
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf')
      format('truetype');
  }
  @font-face {
    font-family: 'Dancing Script';
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf')
      format('truetype');
  }
}
